
<robot name="copernicus" xmlns:xacro="http://www.ros.org/wiki/xacro">
        
            <xacro:if value="$(arg imu_enabled)">
                <xacro:include filename="$(find copernicus_sim_clean)/urdf/accessories/imu_copernicus.urdf.xacro"/>
                <xacro:imu update_rate="100" robot_namespace="$(arg robot_namespace)"></xacro:imu>
            </xacro:if>

            <!-- LIDAR -->
            <xacro:if value="$(arg lidar_enabled)">
                <xacro:include filename="$(find copernicus_sim_clean)/urdf/accessories/lms_151_copernicus.urdf.xacro"/>
                <xacro:lidar sick_lms151_enabled="$(arg sick_lms151_enabled)" robot_namespace="$(arg robot_namespace)"></xacro:lidar>

            </xacro:if>

            <!-- TEST LIDAR -->
            <xacro:if value="$(arg test_lidar_enabled)">
                <xacro:include filename="$(find copernicus_sim_clean)/urdf/accessories/lidar_copernicus.urdf.xacro"/>
                <xacro:lidar robot_namespace="$(arg robot_namespace)"></xacro:lidar>
            </xacro:if>

            <!-- Velodyne -->
            <xacro:if value="$(arg velodyne_enabled)">
                <xacro:include filename="$(find copernicus_sim_clean)/urdf/accessories/velodyne_mount.urdf.xacro"/>
                <xacro:velodyne_mount></xacro:velodyne_mount>
                <xacro:include filename="$(find copernicus_sim_clean)/urdf/accessories/velodyne.urdf.xacro"/>
               
                    <xacro:velodyne parent="velodyne_mount" name="velodyne" topic="velodyne_points" hz="10" samples="440" gpu="false" min_range="0.2">
                        <origin xyz="${velodyne_joint_x} ${velodyne_joint_y} ${velodyne_joint_z}" rpy="0 ${-velodyne_joint_pitch} 0" />
                    </xacro:velodyne>       
            </xacro:if>

</robot>