<?xml version="1.0"?>

<model>
  <name>Custom_World</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Aryan Bandaru</name>
    <email>dev.shenlong@gmail.com</email>
  </author>

  <description>
    University world for the Copernicus robot simulation.
  </description>
</model>
